#
# Ansible Playbook Role
#

---
# This defines where to get the playbook to cache
# https, http defines a git repo location
# otherwise path to playbook (relative to this directory)
playbook_src_path: https://github.com/rackn/kubernetes-contrib.git

# Directory in src containing the playbook
playbook_path: ansible

# The playbook file
playbook_file: cluster.yml

# Map rebar roles to ansible roles
# This is only used for dynamic playbooks.
role_role_map:

# Map rebar roles to ansible groups
# This does not have to be complete.
# It must contain identifying rebar roles that
# "always" map to a group
role_group_map:
  kubernetes-etcd:
    - etcd
  kubernetes-master-install:
    - masters
  kubernetes-node-install:
    - nodes
  kubernetes-gateway-install:
    - nodes
    - gateways

# Map rebar roles to ansible tags
role_tag_map:
  kubernetes-etcd:
    - pre-ansible
    - etcd
  kubernetes-master-install:
    - pre-ansible
    - masters
  kubernetes-master-secrets:
    - pre-ansible
    - secrets
  kubernetes-node-install:
    - pre-ansible
    - nodes
  kubernetes-gateway-install:
    - pre-ansible
    - nodes
  kubernetes-flannel-install:
    - pre-ansible
    - network-service-install
  kubernetes-docker:
    - pre-ansible
    - docker
  kubernetes-add-ons:
    - pre-ansible
    - addons
  kubernetes-node:
    - pre-ansible
    - nodes

attribute_map:
  - path: http_proxy
    name: rebar/proxy/servers[0]/url
    when: hints/rebar/providers/use_proxy == true
  - path: https_proxy
    name: rebar/proxy/servers[0]/url
    when: hints/rebar/providers/use_proxy == true
  - path: etcd_name
    name: etcd/name
  - path: etcd_address
    name: etcd/address
  - path: flannel_interface_name
    name: eval:ipaddress(v4_only, kubernetes-network-category).ifname

