#
# Ansible Playbook Role
#

---
# This defines where to get the playbook to cache
# https, http defines a git repo location
# otherwise path to playbook (relative to this directory)
playbook_src_path: https://github.com/rackn/container-networking-ansible

# Directory in src containing the playbook
playbook_path: .

# The playbook file
playbook_file: .

# Map rebar roles to ansible roles
# This is only used for dynamic playbooks.
role_role_map:
  kubernetes-opencontrail-install:
    - opencontrail_facts
    - opencontrail
  kubernetes-opencontrail-config:
    - opencontrail_facts
    - opencontrail_provision

# Map rebar roles to ansible groups
role_group_map:
  kubernetes-master-install:
    - masters
  kubernetes-node-install:
    - nodes
  kubernetes-gateway-install:
    - gateways

# Map rebar roles to ansible tags
role_tag_map:
  kubernetes-opencontrail-install:
    - pre-ansible
    - etcd
  kubernetes-opencontrail-config:
    - pre-ansible
    - etcd

attribute_map:
  - path: http_proxy
    name: rebar/proxy/servers[0]/url
  - path: https_proxy
    name: rebar/proxy/servers[0]/url
  - path: etcd_name
    name: etcd/name
  - path: etcd_address
    name: etcd/address

# Not sure why this is needed!  The one below should set it, but it doesn't
#  - path: opencontrail_build_http_proxy
#    name: rebar/proxy/servers[0]/url
#  - path: opencontrail_http_proxy
#    name: rebar/proxy/servers[0]/url
#  - path: opencontrail_ipaddr
#    name: eval:ipaddress(v4_only, contrail-network-category).cidr
#  - path: opencontrail_interface
#    name: eval:ipaddress(v4_only, contrail-network-category).ifname
#  - path: opencontrail_masters_ipaddr
#    name: eval:nodes_with_role(contrail-master).ipaddress(v4_only, kubernetes-network-category).address
#  - path: opencontrail_first_masters_ipaddr
#    name: eval:first_node_with_role(contrail-master).ipaddress(v4_only, kubernetes-network-category).address

