[Unit]
Description=Flannel Server
Documentation=https://github.com/cores/flannel

[Service]
EnvironmentFile=-/etc/flannel/config
ExecStart=/usr/local/bin/flanneld \
		$FLANNEL_ETCD_ENDPOINTS \
        $FLANNEL_INTERFACE \
        $FLANNEL_OTHER_ARGS &
Restart=on-failure
Type=simple
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
